PORT=3000

DB_USER=postgres
DB_HOST=localhost
DB_DATABASE=
DB_PASSWORD=
DB_PORT=5432
DB_CONNECTION_STRING=postgresql://postgres:<password>@localhost:5432/monolit

AUTH_SECRET=

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_FIRST_NAME=Admin
ADMIN_LAST_NAME=User

EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM="SaaS Admin <your-email@example.com>"

RESET_LINK_HOST=http://localhost:3000

UPLOADS_PATH=
UPLOADS_URL=/uploads

MESSAGE_LIMIT=5
TIME_WINDOW=5